 <div class="logo"> 
    <img src="../assets/imagens/logo.png" />
 </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">MESERA/O</h5>
          <a [routerLink]="['/home']" class="btn btn-primary">Empezar pedidos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">COCINERO</h5>
          <a [routerLink]="['/order']" class="btn btn-primary">Empezar cocinar</a>
        </div>
      </div>
    </div>
  </div> 
