.container-list, .acomp{
    width: 50%;
    color: black;
    padding: 0px 15px 15px 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.btn{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    padding: 5px;
    color: black;
    background: white;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    margin-left: 15%;
}

.btn:focus{
    color: rgb(247, 7, 7);
}
.btn-acom{
    width: 70%;
    padding: 5px;
    color: black;
    background: white;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    margin-left: 15%;
}


.precio{
    float: right;
}

