    <table class="table table-dark table-responsive table-hover">
      <input  class="input-one" type="text" placeholder="ingresa nombre" #name >
      <div class="date">
        <p class="fecha">Fecha: {{ today | date: 'short' }}</p>      
      </div>
    <thead>
      <tr>
        <th scope="col">Cantidad</th>   
        <th scope="col">Producto</th>
        <th scope="col">P.Uni</th>
        <th scope="col">P.total</th>
        <th scope="col">eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidoMenus">
        <td><input  type="number" min="1" max="10" [ngModel]="pedido.cantidad" #cantidad (change)="onCantidad(pedido, cantidad.value)"></td>
        <td>{{ pedido.nombre }}</td>
        <td>{{ pedido.precio | currency }}</td>
        <td>{{ pedido.precioTotal | currency }}</td>
        <td><button type="button" (click)="eliminar(pedido.nombre)" ><i class="fa fa-trash"></i></button></td>
      </tr>
  </tbody>
    <div class="monto-total">
      Total: {{ montoTot | currency }}
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="enviarPedido(today, montoTot, name.value)">Enviar a cocina</button>        
  </table>
