.table{
    width: 48%;
    float: right;
    padding: 5px;
    margin-bottom: 0;
}

.customer-name{
    font-size: 20px;
}


.monto-total{
    background: rgb(252, 67, 67);
    border-radius: 5px;
    height: 40px;
    color: white;
    font-size: 20px;
}

.precio{
    float: right;
}

.date{
    font-size: 16px;
}

.btn{
    padding: 5px;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}

table{
    text-align: center;
    background: rgb(15, 15, 15,0.8);
}

.cliente{
    font-size: 30px;
    float: left;
}
.fecha{
    font-size: 15px;
    float: right;
    margin-top: 5px;
}
