  <!-- <div class="customer-name">
    <hr>
  </div>
    <ul>
      <li *ngFor="let pedido of pedidoBreakfast"> <span class="precio"> ${{ pedido.precio }} </span></li>
    </ul> 
    <div class="btn-send-to-kitchen">
      <button class="btn-send" type="button">Enviar a cocina</button>
    </div>
</div> -->
    <table class="table table-dark table-responsive table-hover">
    <thead>
        <p>Cliente: <span> {{ name }} </span></p>
        <hr>
        <div class="date">
            <p>Fecha: {{ today | date: 'short' }} </p>
          </div>
      <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Producto</th>
        <th scope="col">P.Uni</th>
        <th scope="col">P.total</th>
        <th scope="col">eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidoBreakfast">
        <td><input  type="number" name="quantity" min="1" max="10" [ngModel]="pedido.cantidad" #cantidad (keyup)="onCantidad(pedido, cantidad.value)"></td>
        <td>{{ pedido.nombre }}</td>
        <td>{{ pedido.precio | currency }}</td>
        <td>{{ pedido.precioTotal | currency }} </td>
        <td><i class="fa fa-trash"></i></td>
      </tr>
  </tbody>
  <div class="input-group">
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
      <div class="input-group-append">
        <span class="input-group-text">{{ total | currency }}</span>
      </div>
  </div>
    <button type="button" class="btn btn-warning btn-lg btn-block">Enviar a cocina</button>        
  </table>
