.table{
    width: 48%;
    float: right;
    padding: 5px;
    margin-bottom: 0;
}

.customer-name{
    font-size: 20px;

}
hr{
    background: white;
}
.total{
    color: red;
}

.total p{
    margin-left: 150px;
}
.precio{
    float: right;
}
.date{
    font-size: 16px;

}

.btn{
    padding: 5px;
    font-size: 20px;
    color: black;
    margin-top: 5px;
}