
<div class="row">
  <div class="card border-success mb-3" *ngFor="let orden of ordenes">
    <h2 class="card-header text-center bg-transparent border-success">{{ orden.nombreDcliente }}</h2>
    <div class="card-body text-success">
      <h5 class="card-title">Pedidos</h5>
      <li class="card-text" *ngFor="let alfa of orden.productos">{{ alfa.cantidad }} {{ alfa.nombre }}</li>
    </div>
    <div class="card-footer bg-transparent">
      <button class="btn btn-success text-center" type="submit" (click)="pedidoListo(orden)" >Listo</button>
    </div>
  </div>
</div>
<button class="btn btn-primary text-center" type="buttom" [routerLink]="['/orderReady']" >ver pedido listo </button>
