.container-two{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;

}

.btns-two{
    text-align: center;
}

.btn-two{
    background: #FFF504;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
    border: 1px solid #FFF504;
    margin: 25px;
    cursor: pointer;
}

.btn-two:focus{
    background: black;
    color: white;
    border: 1px solid black;

}
.btns-two{
    background: white;
    width: 100%;
}