.container-one{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}

h1{
    font-size: 30px;
    color: white;
}

.input-one{
    border: 1px solid white;
    text-align: center;
    background: white;
    color: black;
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 20px;

}
.btn{
    display: block;
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
    margin: auto;
}
.logo-one{
    width: 25%;
    margin-top: 5%;
}

.fa{
    display: block;
}

a{
    text-decoration: none;
}